/*  ===================
    Sections Navigation
    ===================
    1. scrollbar
    2. container
    3. Just Beltagy Pic
    4. Input Fields
    */

// 1. scrollbar
::-webkit-scrollbar 
  background-color: #fff
::-webkit-scrollbar-thumb 
  background-color: $blue
::-webkit-scrollbar-track 
  background-color: #fff

// Font
body 
  font-family: "Lexend Deca", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif
  color: $black

// 2. container
.container
  padding: .3rem
  @include md-screen
    padding: 1rem
      
// 3. Just Beltagy Pic
.just-beltagy-pic
  display: inline-block
  vertical-align: middle
  width: 1.5em
  background-color: $black
  border-radius: 100%
  padding: .25em

// 4. Input Fields
input[type="search"]
  all: unset
  padding: .7em
  border: 1px solid #ccc
  border-radius: .5em
  &:focus
    outline: none
    border-color: $black