doctype html
html(lang="en")
  head
    include sources/head
    title Files | Beltagy
  body.files
    .page-container
      include sidebar
      include header
      main.container
        h1 Files
        .grid

    include sources/scripts