doctype html
html(lang="en")
  head
    include sources/head
    title Dashborad | Beltagy
  body.dashboard
    .page-container
      include sidebar
      include header
      main.container
        h1 Dashboard
        .grid
          article.user

          article
          article
          article

    include sources/scripts