doctype html
html(lang="en")
  head
    include sources/head
    title Dashborad | Beltagy
  body.dashboard
    .page-container
      include sidebar
      include header
      main.container
        h1 Dashboard
        .grid
          article.user
            section.welcome
              .title
                h2 Welcome
                span Beltagy
              .img-container
                img(src="assets/images/dashboard/analyse.svg", alt="Banner Image")
            img.just-beltagy-pic.user-pic(src="assets/images/user-pic.svg")
            section.body
              .title
                h3 Beltagy
                span Developer
              .title
                h3 80
                span Projects
              .title
                h3 $8500
                span earned
            a(href="profile.html") Profile

          article
          article
          article

    include sources/scripts