doctype html
html(lang="en")
  head
    include sources/head
    title Dashborad | Beltagy
  body.dashboard
    .page-container
      include sidebar
      include header
      main

    include sources/scripts