doctype html
html(lang="en")
  head
    include sources/head
    title Plans | Beltagy
  body.plans
    .page-container
      include sidebar
      include header
      main.container
        h1 Plans
        .grid

    include sources/scripts