doctype html
html(lang="en")
  head
    include sources/head
    title Profile | Beltagy
  body.profile
    .page-container
      include sidebar
      include header
      main.container
        h1 Profile
        .grid

    include sources/scripts