doctype html
html(lang="en")
  head
    include sources/head
    title Settings | Beltagy
  body.settings
    .page-container
      include sidebar
      include header
      main.container
        h1 Settings
        .grid
          //- Profile
          .box.site-control
            h2.box-title Site Control
            p Control The Website If There Is Maintenance
            .body
              .row
                .text
                  h4 Website Control
                  p Open/Close Website And Type The Reason
                input#settings-switcher(type="checkbox")
                label.switcher(for="settings-switcher")
              textarea(placeholder="Close Message Content")
          .box.global-info
            h2.box-title General Info
            p General Information About Your Account
            .body
              label First Nama
              input(type="text" placeholder="First Name")
              label Last Name
              input(type="text" placeholder="Last Name")
              label Email
              .row
                input(type="text" value="o@nn.sa" disabled)
                a(href="#") Change
          .box



    include sources/scripts